.icone {
    width: 20px;
}

.footer-body-element {

    margin-top: 70px;
    background: rgb(220, 220, 220)

}

.core-body-element {

    margin: 70px;

}

.clear {

    clear: both;

}

.website-icone {

    height: 60px;

}

.align-itms-center {

    align-items: center;
}
@media screen and (max-width: 1000px) {
    .optional-content{
        display: none;
    }
}