{% extends 'base.html.twig' %}

{% block title %}Hello ErrorController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2 class="mt-5 mb-5"> {{ controller_name }}! </h2>
    <p>
        Erreur {{code}} : {{message}}.
    </p>
</div>
{% endblock %}
