.img-figure {

    max-width: 350px;
    max-height: 350px;
    min-width: 250px;
    min-height: 250px;
    object-fit: cover;
}

.utilisateur-message {
    font-weight: 500;
    min-width: 100px;
}

#message-zone{
    max-height: 400px;
    overflow-y: scroll;
}

#slug {

    display: none
}
