.img-figure {

    max-width: 350px;
    max-height: 350px;
    min-width: 250px;
    min-height: 250px;
    object-fit: cover;
}
#message-zone{
    max-height: 400px;
    overflow-y: scroll;
}

#slug {

    display: none
}