<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Snow Tricks</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">    
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div>
                    <a class="navbar-brand" href="#">Snow Tricks</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="float-start">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="http://127.0.0.1:8100/Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://127.0.0.1:8100/Tricks/liste">Tricks</a>
                            </li>
                            <li class="nav-item unconnected_user_navzone">
                                <a class="nav-link" href="http://127.0.0.1:8100/Tricks/liste">Sing in</a>
                            </li>
                            <li class="nav-item unconnected_user_navzone">
                                <a class="nav-link" href="http://127.0.0.1:8100/Tricks/liste">Sing up</a>
                            </li>
                            <li class="nav-item connected_user_navzone">
                                <a class="nav-link" href="http://127.0.0.1:8100/logout">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    <div id="bodyheader">
        {% block bodyheader %}
        {% endblock %}
    </div>   
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    <footer style="background: rgb(220, 220, 220)" class="p-4 footer-body-element">
        <div class="container">
            Ⓒ Copyright @ 2023 <br>
            Site créé par Emile Armengaud
        </div>
    </footer>
</body>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}">
        <style>
            .footer-body-element {

                margin-top: 70px;


            }

            .header-body-element {

                margin-bottom: 70px;

            }
            .core-body-element {

                margin: 70px;

            }
    </style>
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('bootstrap/dist/js/bootstrap.min.js') }}"/>
    {% endblock %}

</html>
