
<body>
    <h1>
        Email de récupération de mot de passe : 
    </h1>

    <p>
        Bonjour, {{name}}. Voici le lien qui vous permettra de modifier votre mot de passe : 
        <br>
        <a href="{{ path('app_edit_password')}}{{code_recuperation}}"> Lien pour changer le mot de passe 
        </a>
        Antetion ! Ce lien expirera sous 24 heures. Il ne vous sera plus possible de modifier votre mot de passe après ce delais.
    </p> 
</body>