
<body>
    <h1>
        Vérification de votre email: 
    </h1>

    <p>
        Bonjour, {{name}}. Merci pour votre inscription chez snowtricks : 
        <br>
        Il ne vous reste maintenant plus qu'à vérifiez votre email grâce au lien suivant : <a href="http://192.168.1.78:8100/verifier-email/{{code_verification}}">activer son compte
        </a>
        <br>Antetion ! Ce lien expirera sous 24 heures. Votre compte sera automatiquement supprimé après ce délais.
    </p> 
</body>
